*{
	margin: 0px;
	padding: 0px;
}
html
{
	scroll-behavior: smooth;
}
body
{
	box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Lobster', cursive;
	
}
/* Designer Scrollbar */
body::-webkit-scrollbar
{
  width: 12px;
}
body::-webkit-scrollbar-track
{
  background-color: #45493b;
}
body::-webkit-scrollbar-thumb
{
  background-color:#afc67b;
  cursor: pointer;
 }
 h2,h4
 {
 	font-family: 'Lobster', cursive;
	color:  #afc67b;
 }
 h5
 {
 	font-family: 'Lobster', cursive;
 }
.green_clr
{
	color: #45493b;
}
.light_green
{
	color:  #afc67b;
}
.navbar
{
	position: absolute !important;
	right: 0;
	left: 0;
	z-index: 1;
}
.navbar .nav-link:hover
{
	color: white;
}
.menu-icon
{
	color:  #afc67b;
}
 .hero
 {
 	height:670px;
 	width: 100%;
 	background: url('../img/hero.png') no-repeat center;
 	background-size: cover;
 	padding-bottom: 150px;
 	position: relative;


 }
 .mid_section
 {
	position: relative;
	top: 110px;
	right: 0;
 }
 .menu a
 {
	color: #869468;
	font-size: x-large;
	padding-right: 8px !importants;
 }
 .mid_title p
 {
	color:#afc67b;
	font-size: xx-large;
	line-height: 35px;
	letter-spacing: 3px;
	
 }
 .date_heading
 {
	
	font-size: xxx-large;
	font-weight: bold;
	letter-spacing: 0px;
	-webkit-text-stroke: 2px #869468;
	color: transparent;
	animation: heading_animation 5s infinite linear;
	position: absolute;
	top: 210px;
    right: 30px;
	
 }
 @keyframes heading_animation
 {
 	0%
 	{
 		transform: scale(0.8);
 		transition: transform 1s ease-in;
 	}
 	50%
 	{
 		transform: scale(0.6);
 		transition: transform 1s ease-in;
 	}
 	100%
 	{
 		transform: scale(0.8);
 		transition: transform 1s ease-in;
 	}
 }
 .learn_btn
 {
	height:auto;
	width: 170px;
	background-color: #4d5142;
	color: #afc67b;
	border: none;
	opacity: 0.7;
	font-size: x-large;
	padding: 10px 10px 10px 10px;
	margin-top: 50px;
 }
 .learn_btn:hover
 {
	
	background-color:rgba(0,0,0,0.8);
	color: #afc67b;
	border: 2px solid #afc67b;
 }


.about_section
{
	width: 100%;
	background-color: #212121;
	padding-right: 0px !important;
}
.about
{
	text-align: left;
	padding-top: 150px;
	padding-left: 15px;
}
.about_img
{
	height: 400px;
}
.about_img img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}



.main_section_bg
{
	position: relative;

}
.overlay_bg
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	
}
.leaf1
{
	right: 0;
	top: 0;
	width:50%;
	height: 700px;
	background: url('../img/leafs1.png') no-repeat right;
	background-size: contain;
	position: absolute;

}
.leaf2
{
	left: 0 ;
	top: 500px;
	width:50%;
	height: 700px;
	background: url('../img/leafs1.png') no-repeat right;
	background-size: contain;
	position: absolute;

}
.leaf3
{
	right: 0;
	top: 1000px;
	width:50%;
	height: 700px;
	background: url('../img/leafs3.png') no-repeat right;
	background-size: contain;
	position: absolute;

}

.leaf4
{
	left: 0;
	top: 1200px;
	width:50%;
	height: 700px;
	background: url('../img/leafs1.png') no-repeat center;
	background-size: contain;
	position: absolute;

}
.leaf5
{
	left: 180px;
	top: 1800px;
	width:50%;
	height: 700px;
	background: url('../img/leafs1.png') no-repeat center;
	background-size: contain;
	position: absolute;
	
}
.leaf6
{
	left: 0px;
	top: 3226px;
	width:50%;
	height: 700px;
	background: url('../img/leafs2.png') no-repeat center;
	background-size: contain;
	position: absolute;
	z-index: 0;
	
}
.leaf7
{
	right: 0;
	top: 4440px;
	width:50%;
	height: 700px;
	background: url('../img/leafs3.png') no-repeat right;
	background-size: contain;
	position: absolute;

}
.leaf8
{
	left: 0;
	top: 5000px;
	width:50%;
	height: 700px;
	background: url('../img/leafs3.png') no-repeat bottom;
	background-size: contain;
	position: absolute;

}
.leaf9
{
	right:30px;
	top: 5500px;
	width:50%;
	height: 700px;
	background: url('../img/leafs3.png') no-repeat bottom;
	background-size: contain;
	position: absolute;


}

.features
{
	box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.5), 1px 1px 7px rgba(255,255,255,0.6);
}
.features:hover
{
	box-shadow: inset 2px 2px 7px 3px rgba(0,0,0,0.7), inset 1px 1px 7px 1px rgba(255,255,255,0.6);
}
.features_section
{
	background-color: #45493b;

}
.features .card-title
{
	font-family: 'Lobster', cursive;
}



.serve_section
{
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-color: #45493b;
}
.serve_img
{
	width: 100%;
	height: 275px;
	cursor: pointer;

}
.imghvr-flip-vert
{
	background-color: #45493b !important;
}
figcaption
{
	background-color: #afc67b !important;
	padding-top: 120px !important;
	text-align: center !important;
}
.serve_img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.discover_section
{
	height:1700px;
	width: 100%;
	background: url('../img/banner2.png') no-repeat fixed;
	background-position: center;
	background-size: cover;
	padding-top: 200px;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.discover_container
{
	background-color: #45493b;
	padding: 30px 0px;

}
.img_div
{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #c5c6c4;
}

.book_here_section
{
	background-color: #212121;
	padding: 30px 0px;
	position: relative;
	z-index: 1;
}
.book_form input , .book_form select
{
	background-color: transparent;
	z-index: 2;
}
.book_form input:focus , .book_form select:focus
{
	background-color: transparent;
}
.book_here_img
{
	height: 860px;
	background: url('../img/book_here_img.png') center no-repeat fixed;
	background-size: cover;
}


.new_menu
{
	transition: all 0.5s;
}
.new_menu:hover
{
	cursor: pointer;
	transform: translateY(-20px);
	transition: transform 0.4s ease-in;
}
.new_menu_section
{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.read_more_link
{
	color: black;
	text-transform: uppercase;
	border-bottom: 4px solid  #afc67b;
	transition: all 0.6s;

}
.read_more_link:hover
{
	border:4px groove #afc67b;
	text-decoration: none;
	color: black !important;
	padding: 7px;
	font-weight: bold;
}

.social_media_section
{
	background-color: #212121;
	padding: 30px 0px;

}
.green_text
{
	color: #afc67b;
}
.social_media_icon
{
	height: 40px;
	width: 40px;
	background-color: white;
	color: black;
	border-radius: 50%;
	padding:12px;
	margin: 5px;
	cursor: pointer;
	transition: .5s all;
}
.social_media_icon:hover
{
	transform: rotateY(360deg);
	transition: transform 0.5s ease-in;
	color: #afc67b;
}

.footer_section
{
	background-color: #45493b;
	padding: 20px 0px;
}

@media screen and (max-width: 992px)
{
	.navbar

	{
		background-color: rgba(0,0,0,0.6);
	}
}


































































/* ----------menu----------- */
/* .sidenav-left
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width:50%;
	background-color: rgba( 170,43,54,0.8);
	z-index: 4;

}
.sideMenu
{
	padding-top: 170px;
}
.sidenav-right
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width:50%;
	background-color: rgba(170,43,54,0.8);
	z-index: 4;
}
 */
/* ----------Banner------ */
/* .banner
 {
	height: 650px;
	width: 100%;
	background: url('../img/banner.jpg') no-repeat;
	background-position: bottom center;
	background-size: cover;
	position: relative;
	z-index: 0;
	overflow-x: hidden;
}
.logo_section, .menu_section ,.bottom_svg
{
	z-index: 2 !important;
 }
 .logo img
 {
	object-fit: cover;
}
 .navbar
 {
 	height: 80px;
 	background-color: white;
 	border-top-right-radius: 20px;
 	border-bottom-right-radius: 20px;
 	position: relative;
 }
 .menu_icon,.bag
 {
 	color: #cc323e !important;
 	cursor: pointer;
 }
 .close_icon
 {
	cursor: pointer;
	transition: .5s ease-in;
 }
 .close_icon:hover
 {
	transform: translateX(-20px);
	transition: .5s ease-in;
 }
 .menu_item .nav-link
 {
	color:white !important;
	font-weight: bold;
	font-size: x-large;
	padding-top: 20px !important;
	transition: .5s ease-in;

 }
 .menu_item .nav-link:hover
 {	
 	transform: translateX(20px);
	transition: .5s ease-in;
	border-bottom: 2px solid white;


 }
 .input-group-text 
 {
 	background-color: #a1302d !important;
 	color: white !important;
 	border: 1px solid #a1302d !important;
 	border-top-left-radius: 14px !important;
 	border-bottom-left-radius: 14px !important;
 }
 .mid_caption
 {
	padding-top: 60px;
	color: white;
	font-size: 6vw;
	font-weight: 700;
	font-style: italic;
 }
 .bottom_svg
 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	filter:drop-shadow(5px 0px 0px rgba(0,0,0,0.8));
 }

.bottom_svg .wave_path
 {
	stroke: rgba(0,0,0,0.4);
	stroke-width: 3px;
}

-----overlay of chery--------

.overlay
 {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 1;

 }
 .chery
 {
	width: 8%;
	position: absolute;
	animation: float_chery 13s infinite linear;
	transition: all 1s;

 }
  .chery1
 {
 	width: 100%;
 	object-fit: cover;
 }
.c1
 {
 	top: 15%;
 	left: 2%;
 }
 .chery2
 {
 	width: 70%;
 	object-fit: cover;
 	transform: rotate(180deg);
 }
 .c2
 {
 	top: 55%;
 	left: 5%;
 }
 .chery3
 {
 	width: 85%;
 	object-fit: cover;
 	transform: rotate(120deg);
 }
.c3
 {
 	top: 35%;
 	left: 20%;
 }

.chery4
 {
 	width: 100%;
 	object-fit: cover;
 	transform: rotate(90deg);
 }
.c4
 {
 	top:70%;
 	left: 20%;
 }

 .chery5
 {
 	width: 100%;
 	object-fit: cover;
 	transform: rotate(180deg);
 }
.c5
 {
 	top:70%;
 	right:15%;
 }
.chery6
 {
 	width: 75%;
 	object-fit: cover;
 	transform: rotate(105deg);
 }
.c6
 {
 	top:40%;
 	right: 5%;
 }
 .chery7
 {
 	width: 90%;
 	object-fit: cover;
 	transform: rotate(170deg);
 }
.c7
 {
 	top:10%;
 	right: 10%;
 }
 .chery8
 {
 	width: 100%;
 	object-fit: cover;
 	transform: rotate(55deg);
 }
.c8
 {
 	top:45%;
 	right: 25%;
 }
 @keyframes float_chery
 {
	0%
	{
		transform:translate(-10px) rotate(0deg);
	}
	20%
	{
		transform:translateY(20px) rotate(90deg);
	}
	40%
	{
		transform: translate(30px) rotate(180deg);
	}
	60%
	{
		transform: translate(30px) rotate(120deg);
	}
	80%
	{
		transform: translate(20px) rotate(160deg);
	}

	100%
	{
		transform:translate(-10px) rotate(360deg);
	}


 }
 */

 /* -------about section-------- */
 /* .about_img
 {
	height: 300px;
	width: 100%;
 }
 .about_img img
 {
	height: 100%;
	width: 100%;
 }
 */

/* ------shop section--------- */
 /* .shop_div
 {
	padding: 50px 0px;
	background-color:#cc323e;
	height: auto;
 }
 .card_img
 {
 	position: relative;
 	overflow: hidden;
 	width: 100%;
 	height: 320px;

 }
 .card_img img
 {
	width: 100%;
 	height: 100%;
 	object-fit: cover;
 	transition: all 0.5s;
 }
 .card:hover .card_img img
 {
 	transform: scale(1.2) skew(-3deg);
 	transition: transform 0.5s;
 }
 .card_img_svg
 {
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	width: 100%;
	filter:drop-shadow(6px 0px 1px rgba(0,0,0,0.8));

 }
 .card_img_svg .card_img_path
 {
	stroke: rgba(0,0,0,0.6);
	stroke-width: 10px;
 }
 
 .btn_div
 {
	width: 100%;
	padding-top: 20px;
 }
 .cart_btn
 {
 	color: #cc323e;
 	border-top-left-radius: 14px !important;
 	border-bottom-left-radius: 14px !important;
 	position: relative;
 	
} */

/* ------Service section--------- */
/* .service
{
	height: auto;
	margin-top: 30px;
	padding: 50px 0px;
}
.service_img
{
	width: 100%;
	height: 300px;
	position: relative;
	transition: all 0.5s;

}
.service_img img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.service_content
{
	position: absolute;
	top: 50px;

}
.service_img:hover
{
	transform: translateY(-20px);
	transition:  transform 0.3s ease-in;
	cursor: pointer;
}
 */

/* -----parallax banner-------- */
/* .parallax_banner
{
	height: 550px;
	width: 100%;
	background: url('../img/parallax_bg.jpg') no-repeat center;
	margin-top: 30px;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;
	padding-top:130px;
	padding-bottom: 50px;
}
.parallax_banner::after
{
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.inner_banner
{
	position: relative;
	z-index: 2;
	text-align: center;
	
}
.inner_banner i
{
	font-size:100px;
	color: #cc323e;
}
.inner_banner h1
{
	font-size: xxx-large;
}

/* -------Blog Section------- */
/* .blog_img
{
	position: relative;
}
.blog_img:hover::after
{
	content:"\f0c1";
	font-family: FontAwesome;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color:rgba( 170,43,54,0.6);
	color: white; 
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 5vw;
	transition: all 1s ease-in;
	cursor: pointer;
}
 */

/* --------Footer----------- */
/* .footer
{
	background-color:#cc323e;
	height: auto;
	margin-top: 40px; 
	padding-bottom: 50px;
}

.footer_img
{
	background: url('../img/footer_img.png') no-repeat;
	background-position: top center;
	height: 350px;
	width: 100%;
	background-size: contain;
	padding: 40px 0px 50px;
	text-align: center;
}

.footer_bottom
{
	background-color: #9d2929;
	padding: 15px 0px;
} */
